PK=YOUR_PK
MUMBAI_RPC_URL=https://polygon-rpc.com
PROFILE_ID=PROFILE_ID
LENS_API=https://api.lens.dev/

# Check the address provided here : https://docs.lens.dev/docs/testnet-addresses
LENS_HUB_CONTRACT=0xDb46d1Dc155634FbC732f92E853b10B288AD5a1d
LENS_PERIPHERY_CONTRACT=0xeff187b4190E551FC25a7fA4dFC6cf7fDeF7194f

INFURA_PROJECT_ID=YOUR_PROJECT_ID
INFURA_SECRET=YOUR_SECRET

PORT=12345
MONGO_SERVER_URI=mongodb://localhost:27017
DB_NAME=dev
LENS_DATA_LIMIT=50
POLYGON_RPC_URL=https://polygon-rpc.com/
API_BASE_URI=https://localhost:22222/api/v0
TIMEOUT=300
HTTP_TIMEOUT=300000
MAX_TASK=16
